<% function removeVietnameseTones(e){return e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=e.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a")).replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e")).replace(/ì|í|ị|ỉ|ĩ/g,"i")).replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o")).replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u")).replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y")).replace(/đ/g,"d")).replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g,"A")).replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g,"E")).replace(/Ì|Í|Ị|Ỉ|Ĩ/g,"I")).replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g,"O")).replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g,"U")).replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g,"Y")).replace(/Đ/g,"D")).replace(/[^\w ]+/g,"")).replace(/ +/g,"-")).replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g,"")).replace(/\u02C6|\u0306|\u031B/g,"")).replace(/ + /g," ")).trim()}%>

<%-include('./layouts_admin/header_admin.ejs')-%>
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
  	 <div><h3 class="title_page">All Posts</h3>
      <button type="button" class="btn btn-default"><a href="/admin/add-post">Add Post</a></button>
    </div>

    <div class="bs-example4" data-example-id="simple-responsive-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th> <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1"></th>
              <th style="width: 40%">Title</th>
              <th>Author</th>
              <th>Categories</th>
              <th>Type</th>
              <th>Tags</th>
              <th>Date</th>
              <th>Detail</th>
              <th>Delete</th>

            </tr>
          </thead>
          <tbody>
            <% posts.forEach((post) => {%>
            <tr>
              <th scope="row"><input type="checkbox" class="custom-control-input" id="tableDefaultCheck1"></th>
              <td><%= post.title%></td>
              <td><%= post.authorID.name%></td>
              <td><%= post.category ? post.category.name : "None" %></td>
              <td><%= post.type%></td>
              <td><%= post.tags ? post.tags.map(tag => tag) : "None" %></td>
              <td><%= post.createAt%></td>
              <% if (post.type == 'Project') {%>
              <td><a style="text-decoration:none" href="/<%= removeVietnameseTones(post.type).toLowerCase()%>/<%= removeVietnameseTones(post.category.name).toLowerCase() %>/<%= post.url%>"><span class=" label label-primary">View</span></a></td>
              <%} else {%>
              <td><a style="text-decoration:none" target="_blank" href="/<%= removeVietnameseTones(post.type).toLowerCase()%>/<%= post.url%>"><span class=" label label-primary">View</span></a></td>
              <%}%>
              <td><a style="text-decoration:none" href="delete/<%= post.id%>"><span class=" label label-danger">Delete</span></a></td>
            </tr>
            <%});%>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
    </div>
    <!-- pagination -->
    <% if(totalPage > 1) {%>
      <nav>
        <ul class="pagination">
          <li ><a href="?page=<%=curentPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          <%for (var i = 1; i <=totalPage; i++){ %>
            <% if( i == curentPage) {%>
              <li class=" active"><a><%= i %></a></li>
              <%} else {%>
            <li ><a href="?page=<%=i%>"><%= i %></a></li>
          <%}}%>
          <!-- <li class="active"><a href="?page=1">1 <span class="sr-only">(current)</span></a></li> -->
          <li><a href="?page=<%=parseInt(curentPage) + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
       </ul>
     </nav>
      <%}%>
   <!-- //pagination -->
  </div>
  <%-include('./layouts_admin/footer_admin.ejs')-%>