<%-include('./layouts_admin/header_admin.ejs')-%>
 
<div id="page-wrapper">
    <div class="col-md-12 graphs">
   <div class="xs">
   <h3>All Users</h3>
 

<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
            <div class="panel-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr class="warning">
                            <th> <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1"></th>
                             <th>Avatar</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %> 
                            <tr>
                                <td> <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1"></td>    
                                <td><img src=<%=user.photo%> class="avatarAdmin" alt="avatar"></td>
                                <td><%=user.name%></td>
                                <td><%=user.username%></td>
                                <td><%=user.email%></td>
                            </tr>
                        <%}) %>
                     
                        
                    </tbody>
                </table>
            </div>
</div>


</div>
</div>
    <%-include('./layouts_admin/footer_admin.ejs')-%>    