<% function removeVietnameseTones(e){return e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=e.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a")).replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e")).replace(/ì|í|ị|ỉ|ĩ/g,"i")).replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o")).replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u")).replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y")).replace(/đ/g,"d")).replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g,"A")).replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g,"E")).replace(/Ì|Í|Ị|Ỉ|Ĩ/g,"I")).replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g,"O")).replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g,"U")).replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g,"Y")).replace(/Đ/g,"D")).replace(/[^\w ]+/g,"")).replace(/ +/g,"-")).replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g,"")).replace(/\u02C6|\u0306|\u031B/g,"")).replace(/ + /g," ")).trim()}%>


<%- include('./layouts/header.ejs') -%>
      <!-- Container -->
            <main id="container" role="main">
                <!-- Spotlight -->
                <div class="spotlight">
                    <div class="spotlight__content">
                        <div class="container">
                            <h2 class="spotlight__title">BIMworks có các giải pháp <br>phù hợp cho bạn</h2>
                            <a href="./contact-us" class="btn btn--large btn--outline-white spotlight__btn-contact">LIÊN HỆ</a>
                        </div>
                    </div>
                    <div class="spotlight__control">
                        <div class="spotlight__arrows">
                            <button type="button" class="spotlight__arrow spotlight__arrow--prev"><span class="sr-only">Ảnh trước</span></button>
                            <button type="button" class="spotlight__arrow spotlight__arrow--next"><span class="sr-only">Ảnh sau</span></button>
                        </div>
                        <div class="spotlight__dots"></div>
                    </div>
                    <div class="spotlight__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                        <ul class="spotlight__list js-spotlight-list">
                            <li class="spotlight__item">
                                <div class="spotlight__item-img">
                                    <img src="/images/img_spotlight.jpg" alt="">
                                </div>
                            </li>
                            <li class="spotlight__item">
                                <div class="spotlight__item-img">
                                    <img src="/images/img_spotlight_02.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // Spotlight -->
        
                <!-- Content -->
                <div id="content">
                    <!-- Main about and Service -->
                    <section class="section">
                        <h3 class="sr-only">Về chúng tôi</h3>
                        <div class="section__content">
                            <div class="aboutus-main">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="aboutus-main__list-img">
                                                <div class="aboutus-main__item-img"><img src="/images/img_aboutus_main.jpg" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="aboutus-main__content">
                                                <strong class="aboutus-main__title">BIMworks có các giải pháp <br>phù hợp cho bạn</strong>
                                                <p class="aboutus-main__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                                <a href="./about-us" class="btn btn--black aboutus-main__btn-viewmore">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //component_1 -->
                            <%- include('./layouts/component_1.ejs') -%>
                            <!-- //component_1 -->
                        </div>
                    </section>
                    <!-- // Main about and Service -->

                    <section class="section section--border-top homepage__project">
                        <div class="section__title">
                            <div class="container">
                                <h3 class="section__name">DỰ ÁN CỦA CHÚNG TÔI</h3>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="container">
                                <div class="row homepage__project-list">
                                    <% projects.forEach((project) => {%>
                                    <div class="col-4 homepage__project-item">
                                        <!-- Project box -->
                                        <div class="project-box">
                                            <a href="/<%= removeVietnameseTones(project.type).toLowerCase()%>/<%= removeVietnameseTones(project.category.name).toLowerCase() %>/<%= project.url%>" class="project-box__link">
                                                <div class="project-box__content">
                                                    <strong class="project-box__name text-ellipsis text-ellipsis--2line"><%=project.title%></strong>
                                                    <p class="project-box__description text-ellipsis text-ellipsis--2line"><%= project.expert %></p>
                                                    <span class="project-box__btn-viewmore">Xem thêm</span>
                                                </div>
                                                <div class="project-box__img"><img style="height: 500px;" src="<%=project.featureImage%>" alt=""></div>
                                            </a>
                                        </div>
                                        <!-- // Project box -->
                                    </div>
                                    <%})%>
                                </div>
                            </div>
                            <div class="section__btn">
                                <a href="./project-list" class="btn btn--black">XEM THÊM</a>
                            </div>
                        </div>
                    </section>
                    <section class="section homepage__contact">
                        <h3 class="sr-only">Liên hệ với chúng tôi</h3>
                        <div class="section__content">
                            <div class="homepage__contact-wrap">
                                <div class="homepage__contact-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-9">
                                                <strong class="homepage__contact-title">Vui lòng đặt <br>bất kỳ câu hỏi nào</strong>
                                                <p class="homepage__contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. possimus labore?</p>
                                            </div>
                                            <div class="col-3">
                                                <div class="homepage__contact-btn">
                                                    <a href="./contact-us" class="btn btn--large btn--outline-white homepage__contact-btn-link">LIÊN HỆ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepage__contact-bg" data-bottom-top="top[inverted]:50%;" data-top-bottom="top:-50%;">
                                    <img src="/images/bg_home_contact.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section homepage__posts">
                        <div class="section__title">
                            <div class="container">
                                <h3 class="section__name">BÀI VIẾT</h3>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="container">
                                <div class="row homepage__posts-list">
                                    <% articles.forEach((article) => {%>
                                    <div class="col-6 homepage__posts-item">
                                        <!-- Article -->
                                        <div class="article">
                                            <div class="article__img"><img src="<%= article.featureImage %>" alt=""></div>
                                            <div class="article__content">
                                                <div class="article__tags">
                                                    <% if(article.tags.length != 0 ) {
                                                        article.tags.map(tag => {%>
                                                            <a href="/tags/<%=removeVietnameseTones(tag).toLowerCase().replace(' ', '-')%>" class="article__tag"><%= tag.toUpperCase()%></a>
                                                        <%}) } else {%>
                                                    <a href="#none" class="article__tag"></a>
                                                    <%}%>
                                                </div>
                                                <strong class="article__name text-ellipsis text-ellipsis--2line"><%= article.title %></strong>
                                                <p class="article__description text-ellipsis text-ellipsis--3line"><%= article.expert %></p>
                                            </div>
                                            <a href="/<%= removeVietnameseTones(article.type).toLowerCase()%>/<%= article.url%>" class="article__link"></a>
                                        </div>
                                        <!-- // Article -->
                                    </div>
                                    <%})%>
                                </div>
                            </div>
                            <div class="section__btn">
                                <a href="./news-list" class="btn btn--black">XEM THÊM</a>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- // Content -->
            </main>
            <!-- // Container -->

            <%- include('./layouts/footer.ejs') -%>