<% function removeVietnameseTones(e){return e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=e.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a")).replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e")).replace(/ì|í|ị|ỉ|ĩ/g,"i")).replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o")).replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u")).replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y")).replace(/đ/g,"d")).replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g,"A")).replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g,"E")).replace(/Ì|Í|Ị|Ỉ|Ĩ/g,"I")).replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g,"O")).replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g,"U")).replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g,"Y")).replace(/Đ/g,"D")).replace(/[^\w ]+/g,"")).replace(/ +/g,"-")).replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g,"")).replace(/\u02C6|\u0306|\u031B/g,"")).replace(/ + /g," ")).trim()}%>
<%- include('./layouts/header.ejs') -%>
            <!-- Container -->
            <main id="container" role="main">
                <!-- Content -->
                <div id="content">
                    <!-- Page title -->
                    <section class="page-title">
                        <div class="page-title__content">
                            <div class="container">
                                <h2 class="page-title__name">Danh sách bài viết</h2>
                                <!-- <ul class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Trang chủ</a></li>
                                    <li class="breadcrumb__item"> Bài viết</li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                            <img src="/images/bg_title_news.jpg" alt="">
                        </div>
                    </section>
                    <!-- // Page title -->

                    <section class="section">
                        <h3 class="sr-only">Danh sách bài viết</h3>
                        <div class="section__content">
                            <div class="posts__list">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 posts__item">
                                            <!-- Article -->
                                            <div class="article article--spotlight">
                                                <div class="article__img"><img src="/images/posts/bg_thumbnai_news.jpg" alt=""></div>
                                                <div class="article__content">
                                                    <div class="article__tags">
                                                        <a href="#none" class="article__tag">PHONG THỦY</a>
                                                        <a href="#none" class="article__tag">THIẾT KẾ</a>
                                                    </div>
                                                    <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                                    <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                                </div>
                                                <a href="./news-detail" class="article__link"></a>
                                            </div>
                                            <!-- // Article -->
                                        </div>

                                        <% articles.forEach((article) => {%>
                                        <div class="col-6 posts__item">
                                            <!-- Article -->
                                            <div class="article">
                                                <div class="article__img"><img src="<%= article.featureImage %>" alt=""></div>
                                                <div class="article__content">
                                                    <div class="article__tags">
                                                        <% if(article.tags.length != 0 ) {
                                                            article.tags.map(tag => {%>
                                                                <a href="/tags/<%=removeVietnameseTones(tag).toLowerCase().replace(' ', '-')%>" class="article__tag"><%= tag.toUpperCase()%></a>
                                                            <%}) } else {%>
                                                        <a href="#none" class="article__tag"></a>
                                                        <%}%>
                                                    </div>
                                                    <strong class="article__name text-ellipsis text-ellipsis--2line"><%=  article.title %></strong>
                                                    <p class="article__description text-ellipsis text-ellipsis--3line"><%= article.expert %></p>
                                                </div>
                                                <a href="/<%= removeVietnameseTones(article.type).toLowerCase()%>/<%= article.url%>" class="article__link"></a>
                                            </div>
                                            <!-- // Article -->
                                        </div>
                                        <%})%>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="posts__pagination">
                                <!-- Pagination -->
                                <% if(totalPage > 1) {%>
                                    <div class="pagination">
                                        <a href="?page=<%=curentPage - 1%>" class="pagination__item pagination__item--prev"><i class="icon-prev"><span class="sr-only">Trang sau</span></i></a>
                                      <ul class="pagination__lst">
                                        <%for (var i = 1; i <=totalPage; i++){ %>
                                          <% if( i == curentPage) {%>
                                            <li class="pagination__item"><a class="on pagination__link" ><%= i %></a></li>
                                            <%} else {%>
                                          <li class="pagination__item"><a class="pagination__link" href="?page=<%=i%>"><%= i %></a></li>
                                        <%}}%>
                                     </ul>
                                     <a href="?page=<%=parseInt(curentPage) + 1%>" class="pagination__item pagination__item--next"><i class="icon-prev"><span class="sr-only">Trang tiếp theo</span></i></a>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- // Content -->
            </main>
            <!-- // Container -->

            <!-- Footer -->
            <%- include('./layouts/footer.ejs') -%>