<% function removeVietnameseTones(e){return e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=(e=e.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a")).replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e")).replace(/ì|í|ị|ỉ|ĩ/g,"i")).replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o")).replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u")).replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y")).replace(/đ/g,"d")).replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g,"A")).replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g,"E")).replace(/Ì|Í|Ị|Ỉ|Ĩ/g,"I")).replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g,"O")).replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g,"U")).replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g,"Y")).replace(/Đ/g,"D")).replace(/[^\w ]+/g,"")).replace(/ +/g,"-")).replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g,"")).replace(/\u02C6|\u0306|\u031B/g,"")).replace(/ + /g," ")).trim()}%>
<%- include('./layouts/header.ejs') -%>

            <!-- Container -->
            <main id="container" role="main">
                <!-- Content -->
                <div id="content">
                    <!-- Page title -->
                    <section class="page-title">
                        <div class="page-title__content">
                            <div class="container">
                                <h2 class="page-title__name"><%= post.title%></h2>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                                    <li class="breadcrumb__item"><a href="/news-list" class="breadcrumb__link"><%= post.type%></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                            <img src="/images/bg_title_news_detail.jpg" alt="">
                        </div>
                    </section>
                    <!-- // Page title -->

                    <section class="section">
                        <h3 class="sr-only">Chi tiết bài viết</h3>
                        <div class="section__content">
                            <div class="container">
                                <div class="posts__content">
                                    <%- post.body%>
                                </div>
                                <div class="posts__info">
                                    <div class="posts__tags">
                                        <strong class="posts__info-name">TAGS</strong>
                                        <div class="posts__info-content">
                                            <% if(post.tags.length != 0 ) {
                                                post.tags.map(tag => {%>
                                                    <a href="/tags/<%=removeVietnameseTones(tag).toLowerCase().replace(' ', '-')%>" class="posts__tags-item"><%= tag.toUpperCase()%></a>
                                                <%}) } else {%>
                                            <a href="#none" class="posts__tags-item"></a>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="posts__share">
                                        <strong class="posts__info-name">CHIA SẺ</strong>
                                        <div class="posts__info-content">
                                            <a href="#none" class="posts__share-item"><i class="icon-facebook"><span class="sr-only">Facebook</span></i></a>
                                            <a href="#none" class="posts__share-item"><i class="icon-twitter"><span class="sr-only">Twitter</span></i></a>
                                            <a href="#none" class="posts__share-item"><i class="icon-gmail"><span class="sr-only">Gmail</span></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section section--border-top">
                        <div class="section__title">
                            <div class="container">
                                <h3 class="section__name">BÀI VIẾT LIÊN QUAN</h3>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="posts__related">
                                <div class="container">
                                    <div class="row">
                                        <% articles.forEach((article) => {%>
                                            <div class="col-6 posts__item">
                                                <!-- Article -->
                                                <div class="article">
                                                    <div class="article__img"><img src="<%= article.featureImage %>" alt=""></div>
                                                    <div class="article__content">
                                                        <div class="article__tags">
                                                            <% if(article.tags.length != 0 ) {
                                                                article.tags.map(tag => {%>
                                                                    <a href="/tags/<%=removeVietnameseTones(tag).toLowerCase().replace(' ', '-')%>" class="article__tag"><%= tag.toUpperCase()%></a>
                                                                <%}) } else {%>
                                                            <a href="#none" class="article__tag"></a>
                                                            <%}%>
                                                        </div>
                                                        <strong class="article__name text-ellipsis text-ellipsis--2line"><%=  article.title %></strong>
                                                        <p class="article__description text-ellipsis text-ellipsis--3line"><%= article.expert %></p>
                                                    </div>
                                                    <a href="/<%= removeVietnameseTones(article.type).toLowerCase()%>/<%= article.url%>" class="article__link"></a>
                                                </div>
                                                <!-- // Article -->
                                            </div>
                                            <%})%>
                                    </div>
                                </div>
                            </div>
                            <div class="section__btn">
                                <a href="/news-list" class="btn btn--black">XEM THÊM</a>
                            </div>
                        </div>
                    </section>
                    <section class="section section--contact section--border-top">
                        <div class="section__title">
                            <div class="container">
                                <h3 class="section__name">LIÊN HỆ CHÚNG TÔI</h3>
                            </div>
                        </div>
                        <div class="section__content">
                            <!-- Contact form -->
                            <div class="contact">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="contact__info">
                                                <ul class="contact__info-list">
                                                    <li class="contact__info-item">
                                                        <strong class="contact__info-name">Địa chỉ :</strong>
                                                        <ul class="contact__info-content">
                                                            <li class="contact__info-depth2">Số 15, đường Chiến Thắng, Hà Đông, Hà Nội, Việt Nam</li>
                                                            <li class="contact__info-depth2">Tòa CT2, chung cư Skylight, ngõ Hòa Bình 6, Minh Khai, Hai Bà Trưng, Hà Nội, Việt Nam</li>
                                                        </ul>
                                                    </li>
                                                    <li class="contact__info-item">
                                                        <strong class="contact__info-name">Số điện thoại :</strong>
                                                        <ul class="contact__info-content contact__info-content--type2">
                                                            <li class="contact__info-depth2"><a href="tel:0989872133" class="contact__info-link">0989872133</a></li>
                                                            <li class="contact__info-depth2"><a href="tel:0923262621" class="contact__info-link">0923262621</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="contact__info-item">
                                                        <strong class="contact__info-name">E-Mail :</strong>
                                                        <div class="contact__info-content">
                                                            <div class="contact__info-depth2"><a href="mailto:bimworksvietnam@gmail.com" class="contact__info-link">bimworksvietnam@gmail.com</a></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <form class="contact__form">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="input__wrap">
                                                            <label class="sr-only" for="form-name">Họ tên</label>
                                                            <input type="text" class="input" id="form-name" placeholder="Họ tên">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="input__wrap">
                                                            <label class="sr-only" for="form-email">E-Mail</label>
                                                            <input type="email" class="input" id="form-email" placeholder="E-Mail">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input__wrap">
                                                            <label class="sr-only" for="form-subject">Tiêu đề</label>
                                                            <input type="text" class="input" id="form-subject" placeholder="Tiêu đề">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="textarea__wrap">
                                                            <label class="sr-only" for="form-content">Nội dung</label>
                                                            <textarea class="textarea" id="form-content" placeholder="Nội dung"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="contact__btn">
                                                    <button type="button" class="btn btn--black">GỬI THÔNG TIN</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Contact map -->
                                <div class="contact__map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5268.251512983803!2d105.79653771797983!3d20.983962144261575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x266bb7909374fc10!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVMawIFbhuqVuLCBYw6J5IEThu7FuZyBWw6AgQ2h1eeG7g24gR2lhbyBDw7RuZyBOZ2jhu4cgQmltd29ya3MgVmnhu4d0IE5hbQ!5e0!3m2!1sen!2s!4v1615632932958!5m2!1sen!2s" class="contact__iframe" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                                <!-- // Contact map -->
                            </div>
                            <!-- // Contact form -->
                        </div>
                    </section>
                </div>
                <!-- // Content -->
            </main>
            <!-- // Container -->

            <!-- Footer -->
            <%- include('./layouts/footer.ejs') -%>